/*SESION ELEMENTS*/
/*SESION ELEMENTS*/

/*ICONS*/
.fa-sign-in{
	border: 1px solid black;
	background-color: greenyellow;
	border-radius: 5px;
	padding: .1em;
}

.sesionElements{
    display: none;
}
